/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  background-color: rgb(0, 0, 0);
}
/* Apply the custom cursor */
body {
  cursor: url("./images/pointer.png"), auto; /* Replace 'path/to/custom-pointer.png' with the path to your custom pointer image */
}

/* Optionally, you can set a fallback cursor for compatibility */
body {
  cursor: url("./images//pointer-two.png"), auto, pointer; /* 'pointer' is the fallback cursor */
}
body,
html {
  /* Reset default margin and padding */
  margin: 0;
  padding: 0;
  height: 100%;
}

/* STARTING OF THE MAIN CSS */

.app-container {
  width: 100%;
  height: 100%;
  background-image: url("./images/frame.PNG");
  background-size: 100% 100%;
  position: absolute;
  /* z-index: -1; */
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

input::placeholder {
  color: #fff; /* Set placeholder color to white */
}

.landing-image {
  height: 3vw;
  width: auto;
  z-index: 12;
  margin-top: 5em;
}

.--secondlevel-parent {
  position: absolute;
  z-index: 9999;
  margin-top: 8em;
}
.cursor {
  cursor: pointer;
}
input {
  border: 2.1px solid rgb(255, 255, 255);
  outline: none;
  width: 27em !important;
  margin-top: -0.9em;
  height: 4em;
  border-radius: 7px;
  padding-left: 1em;
  color: rgb(255, 255, 255);
  background-color: transparent;
  font-family: "Silkscreen", sans-serif;
  font-size: 10px;

  /* position: relative;  */
  /* font-size: 7px; */
}

a {
  color: white;
}

a:focus {
  color: white;
}

button {
  border: 2.1px solid white;
  background-color: transparent;
  outline: none;
  margin-top: 1.3em;

  z-index: 200; /* Make sure buttons are also in front */
  position: relative; /* Ensure the z-index works by setting position to relative */
}
.maquee {
  font-family: "Press Start 2P";
  font-size: 10px;
  /* text-align: center; */
}

input:focus {
  background-color: transparent;
}

.sendBtn {
  z-index: 9999;
}

@media only screen and (max-width: 600px) {
  /* .logo{
      width: 20em;
    } */

  .landing-image {
    height: 10vw;
    width: auto;
    z-index: 12;
    margin-top: 5em;
  }

  input {
    border: 2.1px solid rgb(255, 255, 255);
    outline: none;
    width: 27em !important;
    margin-top: -0.9em;
    height: 4em;
    border-radius: 7px;
    padding-left: 1em;
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-family: "Silkscreen", sans-serif;
    font-size: 10px;

    /* position: relative;  */
    /* font-size: 7px; */
  }
  .countdowns {
    font-family: "Silkscreen", sans-serif;
    font-size: 0.8em;
  }

  .--secondlevel-parent {
    position: absolute;
    width: 300px;
    text-align: center;
    z-index: 999;
  }
}

/* shadow effect for the start buttin */
.text-with-glow {
  color: #fff; /* Text color */
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
  /* transition: 1s; */
}

/* Image to rotate horizontally */
.rotate-image {
  position: absolute; /* Position the image absolutely within the container */
  top: 0; /* Position from the top of the container */
  left: 50%; /* Move the image to the center horizontally */
  transform: translateX(-50%); /* Center the image horizontally */
  animation: rotateHorizontal 4s linear infinite; /* Apply the rotation animation */
}

/* Keyframes for horizontal rotation animation */
@keyframes rotateHorizontal {
  0% {
    transform: translateX(-50%) rotateY(0deg); /* Initial position (no rotation) */
  }
  100% {
    transform: translateX(-50%) rotateY(360deg); /* Final position (360 degree horizontal rotation) */
  }
}
.starte {
  position: relative;
  font-size: 2.5em;
}

/* start button animation with blink */
.press-start {
  font-family: "press Start 2P";
  font-size: 8px;
  z-index: 9999 !important;
  position: relative;
  bottom: 12px;
}
.countdowns {
  font-family: "press Start 2p";
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-text {
  animation: blink 1s infinite; /* Adjust the duration as needed */
}

/* SPECIALA GLITCH EFECT FOR THE BODY */
.glitch {
  width: 100vw;
  height: 100vh;
  background-color: black;
  animation: glitchAnimation 1s ease-in-out forwards;
}

@keyframes glitchAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1.05) rotate(1deg);
    opacity: 0.8;
  }
  50% {
    transform: scale(0.95) rotate(-1deg);
    opacity: 0.8;
  }
  75% {
    transform: scale(1.02) rotate(0.5deg);
    opacity: 0.8;
  }
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

/* footer3 contents */
.futs {
  font-family: "teko";
}

/* making sure audio is not visible by default */
.hidden {
  display: none;
}

.bigger {
  font-size: 2em;
  position: relative;
  bottom: 0.8em;
}

